body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.cols {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#notifications {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px;
}
